<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </Console>
        <RandomAccessFile name="RandomAccessFileAppender" fileName="./logs/adbmLogs.log" immediateFlush="false" append="false">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </RandomAccessFile>
        <TextPaneAppender name="VisualAppender">
            <PatternLayout>
                <pattern>[%-5level] %d{HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
        </TextPaneAppender>
    </Appenders>
    <Loggers>
        <Root level="trace" includeLocation="false">
            <AppenderRef ref="RandomAccessFileAppender"/>
            <AppenderRef ref="ConsoleAppender" level="info"/>
            <AppenderRef ref="VisualAppender"/>
        </Root>
    </Loggers>
</Configuration>