<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{ABSOLUTE} - %msg%n
                </pattern>
            </PatternLayout>
        </Console>
        <RandomAccessFile name="RandomAccessFileAppenderError" fileName="Logs/WarnLog.log" immediateFlush="false" append="true">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{ISO8601} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </RandomAccessFile>
        <RandomAccessFile name="RandomAccessFileAppenderInfo" fileName="Logs/DebugLog.log" immediateFlush="false" append="true">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{ISO8601} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </RandomAccessFile>
        <RandomAccessFile name="RandomAccessFileAppenderTrace" fileName="Logs/TraceLog.log" immediateFlush="false" append="false">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{ISO8601} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </RandomAccessFile>
        <TextPaneAppender name="VisualAppender">
            <PatternLayout>
                <pattern>%msg%n</pattern>
            </PatternLayout>
        </TextPaneAppender>
    </Appenders>
    <Loggers>
        <Root level="trace" includeLocation="false">
            <AppenderRef ref="RandomAccessFileAppenderError" level="warn"/>
            <AppenderRef ref="RandomAccessFileAppenderInfo" level="debug"/>
            <AppenderRef ref="RandomAccessFileAppenderTrace"/>
            <AppenderRef ref="ConsoleAppender" level="trace"/>
            <AppenderRef ref="VisualAppender" level="trace"/>
        </Root>
    </Loggers>
</Configuration>